body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;

  background-color: #ffffff;
  min-width: 1160px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  display: block;
  width: 240px;
  padding: 15px 0;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: rgb(215, 55, 59);
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  width: 1px;
  height: 1px;
}

.main-header {
  width: 100%;
  background-color: #eeeeee;
}

.main-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
}

.container {
  margin: 0 auto;
  padding: 0 20px;

  width: 1160px;
  box-sizing: border-box;
}

.main-header-logo {
  margin: 0;
  margin-top: 55px;
  padding: 0;

  width: 160px;
  height: 50px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 80px;
  margin-left: -90px;
  padding: 0;

  width: 530px;
  list-style: none;
}

.site-navigation li {
  margin-left: 46px;
}

.buying-navigation {
  margin: 0;
  margin-top: 75px;
  margin-right: -80px;
  padding: 0;
  padding-bottom: 15px;

  width: 115px;
  list-style: none;
}

.buying-basket {
  position: relative;
  padding: 0;
  margin: 0;
}

.site-navigation,
.buying-navigation {
  list-style: none;
}

.site-navigation a,
.buying-navigation a {
  display: block;
  color: #000000;
}

.buying-basket {
  position: relative;
  padding: 0;
  margin: 0;
}

.buying-basket::before {
  content: "";
  position: absolute;
  top: 9px;
  left: -40px;

  width: 15px;
  height: 24px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-navigation img:hover,
.main-navigation img:focus {
  opacity: 0.8;
}

.main-navigation img:active {
  opacity: 0.3;
}

.site-navigation a:hover,
.site-navigation a:focus,
.buying-navigation a:hover,
.buying-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.buying-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-current {
  border-bottom: solid #fb565a 2px;
}

.slider {
  position: relative;
  margin-top: 0;

  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);

  width: 160px;
  height: 18px;
}

.slider-controls label {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 8px;

  width: 18px;
  height: 18px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;
  padding: 80px 0 80px 0;
  margin-top: 0;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 100% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  margin: -4px;

  width: 4px;
  height: 4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  margin: 0;
  margin-bottom: 25px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;

  max-width: 600px;
}

.slider-item p {
  margin: 0;
  margin-bottom: 38px;

  max-width: 430px;
}

.button {
  display: block;
  padding: 15px 0;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  width: 240px;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.productions {
  width: 1160px;
  padding-top: 80px;
  padding-bottom: 90px;
}

.productions-list {
  display: flex;
  padding: 0;
  margin: 0;

  width: 1160px;
  list-style: none;
}

.production-item {
  display: flex;
}

.production-item-red,
.production-item-green  {
  margin-right: 100px;
}

.production-item-red,
.production-item-green,
.production-item-yellow {
  width: 300px;
}

.productions-list h3 {
  margin-bottom: 15px;

  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.productions-list p {
  margin-bottom: 45px;
  padding: 0;
  white-space: pre-line;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #283136;

  width: 260px;
}

.button-red {
  vertical-align: middle;
  padding: 14px 40px;
  margin-top: 30px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
  border-radius: 3px;
}

.button-red:focus,
.button-red:hover {
  vertical-align: middle;
  padding: 14px 40px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #e74246;
  border: none;
  border-radius: 3px;
}

.button-red:active {
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px #d7373b inset;
}

.button-green {
  vertical-align: middle;
  padding: 14px 40px;
  margin-top: 30px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #00ca74;
  border: none;
  border-radius: 3px;
}

.button-green:hover,
.button-green:focus {
  vertical-align: middle;
  padding: 14px 40px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #00bc6c;
  border: none;
  border-radius: 3px;
}

.button-green:active {
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px #00aa62 inset;
}

.button-yellow {
  vertical-align: middle;
  padding: 14px 40px;
  margin-top: 30px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #efc84a;
  border: none;
  border-radius: 3px;
}

.button-yellow:hover,
.button-yellow:focus {
  vertical-align: middle;
  padding: 14px 40px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #eab534;
  border: none;
  border-radius: 3px;
}

.button-yellow:active {
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px #e5a722 inset;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;

  width: 1160px;
}

.about {
  white-space: pre-line;
  margin-top: -40px;

  width: 660px;
}

.about ul {
  padding: 0;
  margin-top: -5px;

  list-style: none;
}

.possibilities li {
  position: relative;
  padding-left: 35px;
  margin-top: -25px;
  margin-bottom: 25px;
}

.possibilities li::before {
  position: absolute;
  content: "";
  left: 1px;
  top: 11px;

  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.about p {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 0;
}

.about b {
  display: block;
  margin-bottom: 0;
  padding: 0;

	font-size: 45px;
	line-height: 45px;
}

.title-about {
  padding: 0;

  text-transform: uppercase;
  font-weight: 700;
}

.advantages {
  margin-top: -25px;
  padding: 0;

  width: 360px;
}

.advantages-title {
  margin-top: 30px;
  margin-bottom: 55px;
  padding: 0;

  text-align: center;
	text-transform: uppercase;
  font-weight: 700;
}

.advantages-table {
  margin: 0;
}

.advantages-table sup {
  margin: 0;

  font-size: 28px;
}

.advantages-table th {
  padding-bottom: 35px;
	padding-right: 15px;

  font-size: 45px;
	line-height: 10px;
}

.advantages-table th:last-child {
  text-align: left;
}

.advantages-table td {
  line-height: 18px;
}

.devider {
  border-bottom: solid 1.5px #eeeeee;
}

.clients-list {
	display: flex;
	justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
  margin-top: -15px;
  padding-top: 45px;
  padding-bottom: 40px;

  width: 1160px;
  border-top: solid 1.5px #eeeeee;
  border-bottom: solid 1.5px #eeeeee;
  list-style: none;
}

.clients-item {
  width: 260px;
}

.line {
  margin-right: 70px;

  height: 50px;
  border-right: solid 1.5px #eeeeee;
}

.clients-list a {
	opacity: 0.2;
}
.clients-list a:hover,
.clients-list a:focus {
	opacity: 1;
}
.clients-list a:active {
	opacity: 0.1;
}

.our-abilitys li {
  position: relative;
  padding-left: 35px;
  margin-top: -25px;
  margin-bottom: 25px;
}
.our-abilitys li::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  left: 1px;
  top: 11px;
  background-color: #fb565a;
}

.main-map iframe {
  position: relative;
  z-index: 104;

  width: 100%;
  height: 416px;
  border: none;
}

.main-map img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 103;

  background-color: #eeeeee;
}

.map-contacts {
  position: relative;
  padding-top: 5px;

  height: 420px;
}

.main-contacts h3 {
  margin: auto;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-top: 50px;

  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.main-contacts {
  display: flex;
  flex-direction: column;
  z-index: 105;
  position: relative;
  bottom: 370px;
  left: 120px;

  width: 320px;
  height: 310px;
  background: #ffffff;
}

.main-map {
  position: relative;
  width: 100%;
}

.map-marker {
  position: absolute;
  left: 775px;
  bottom: 160px;
}

.contacts {
  padding: 0;
  margin: 0 auto;
  margin-bottom: 5px;
  margin-left: 50px;
  white-space: pre-line;

  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: initial;
  color: #666666;

  width: 215px;
}

.phone-number {
  margin-left: 50px;
  padding: 0;
  margin-bottom: 35px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: initial;
  letter-spacing: 0.4px;
  color: #666666;
}

.button-contacts {
  vertical-align: middle;
  padding: 15px 0;
  margin-bottom: 50px;
  margin-left: 50px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;

  width: 220px;
  height: 50px;
  text-transform: uppercase;
  background-color: #fb565a;
  border: none;
  border-radius: 3px;
}

.button-contacts:hover,
.button-contacts:focus {
  background-color: #e74246;
}

.button-contacts:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.main-footer {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 100px;

  width: 1160px;
  list-style: none;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-right: 140px;
  margin-left: 20px;

  width: 260px;
  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 79px;
  height: 79px;
  background-color: #e1e1e1;
  border-radius: 50%;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button:active {
  box-shadow: inset 0px 3px 0 0;
  background-color: #d7373b;
}

.social-button:active path {
  opacity: 0.3;
}

.footer-suggestion {
  padding: 0;
  padding-top: 20px;
  margin: 0;

  width: 560px;
}

.footer-suggestion-bold {
  margin: 0;
  padding: 0;

  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.footer-suggestion-text {
  padding: 0;
  margin-top: 10px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #444444;
}

.connection {
  display: none;
  position: fixed;
  z-index: 105;
  top: 10%;
  left: 50%;
  margin-left: -500px;

  color: #000000;

  width: 960px;
  height: 590px;
  background-color: #ffffff;
  background-repeat: repeat;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.connection-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.connection-form-information {
  display: flex;

  width: 760px;
}

.connection-form-text {
  display: flex;

  width: 760px;
}

.button-close {
  position: absolute;
  top: 70px;
  right: 85px;

  font-size: 0;

  width: 21px;
  height: 21px;
  background-image: url("../img/close-cross.svg");
  background-color: transparent;
  opacity: 0.3;
  border: 0;
  cursor: pointer;
}

.button-close:hover,
.button-close:focus {
  opacity: 1;
}

.button-close:active {
  opacity: 0.1;
}

.connection h2 {
  margin-left: 100px;
  margin-top: 60px;
  margin-bottom: 25px;

  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.connection-form input[type="text"],
.connection-form input[type="email"],
.connection-form textarea {
  margin-top: 10px;

  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;

  border: solid 2px #d7dcde;
  opacity: 0.5;
}

.connection-form input[type="text"] {
  box-sizing: border-box;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 15px;
  margin-left: 100px;

  width: 360px;
}

.connection-form input[type="email"] {
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 15px;

  width: 360px;
}

.connection-form textarea {
  box-sizing: border-box;
  padding-top: 13px;
  padding-bottom: 70px;
  padding-left: 15px;
  margin-left: 100px;

  width: 760px;
}

.connection-name {
  margin-right: 40px;
}

.connection-name label,
.connection-text label {
  margin-bottom: 10px;
  margin-left: 100px;

  font-weight: 700;
}

.connection-email label {
  margin-bottom: 10px;

  font-weight: 700;
}

.button-send {
  padding: 14px 40px;
  margin-top: 20px;
  margin-left: 100px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;

  width: 260px;
  height: 50px;
}

.button-send:hover,
.button-send:focus {
  background-color: #E74246;
}

.button-send:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

/* Внутренняя страница сайта : catalog.html */
.title {
  text-align: center;
  margin: auto;
  padding-top: 75px;
  padding-bottom: 110px;
  padding-left: 30px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;

  background-color: #eeeeee;
}

.sorting-templates-container {
  margin: 0;
  margin-top: 50px;
  padding: 0;

  width: 760px;
}

.sorting {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
}

.sorting h2 {
  padding: 0;
  margin: 0;

  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.sorting a {
  font-size: 14px;
  line-height: 18px;
  color: rgba(0,0,0,0.3);
  text-transform: uppercase;
}

.sorting-list {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;

  width: 360px;
  list-style: none;
}

.sorting-item {
  margin-right: 26px;
}

.sorting-item a:hover {
  color: rgba(0,0,0,0.6);
}

.sorting-item a:active,
.sorting-item a:focus {
  color: rgba(0,0,0,1);
}

.increase-button a,
.decrease-button a {
  position: relative;
  padding: 0 2px;

  font-size: 0;

  width: 0;
  height: 0;
}

.increase-button a::before,
.decrease-button a::before {
  position: absolute;
  content: "";

  width: 0;
  height: 0;
}

.increase-button a::before {
  left: 22px;
  top: -11px;

  border: 5.5px solid rgba(166,166,166,0.2);
  border-left-color: transparent;
  border-top-width: 9.5px;
  border-right-color: transparent;
  border-bottom: none;
}

.decrease-button a::before {
  left: 21px;
  top: -11px;

  border: 5.5px solid rgba(166,166,166,0.2);
  border-left-color: transparent;
  border-bottom-width: 9.5px;
  border-right-color: transparent;
  border-top: none;
}

.increase-button a:hover::before {
  border-top-color: #a6a6a6;
}

.decrease-button a:hover::before {
  border-bottom-color: #a6a6a6;
}

.increase-button a:active::before,
.increase-button a:focus::before {
  border-top-color: #000000;
}

.decrease-button a:active::before,
.decrease-button a:focus::before {
  border-bottom-color: #000000;
}

.active-sorting-item a {
  pointer-events: none;
  color: rgba(0,0,0,1);
}

.active-sorting-item.increase-button a::before {
  border-top-color: #000000;
}

.active-sorting-item.decrease-button a::before {
  border-bottom-color: #000000;
}

.catalog {
  margin-bottom: 60px;
  padding-top: 5px;

  width: 760px;
}

.catalog-columns {
  display: flex;
  margin-right: auto;
  margin-top: 5px;

  width: 1160px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  list-style: none;
}

.catalog-item {
  position: relative;
  display: block;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-right: 35px;

  width: 360px;
}

.catalog-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: -39px;

  width: 360px;
  height: 40px;
  background-image: url("../img/browser.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.12;
}

.catalog-item:hover::before,
.catalog-item:focus::before {
  opacity: 1;
}

.item-name {
  text-align: center;
  margin: 30px auto;

  color: #000000;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.item-info {
  white-space: pre-wrap;
  margin: 0 auto;

  color: #666666;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  text-transform: none;

  width: 230px;
}

.catalog-item .action {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.catalog-item .buy-link {
  display: block;
  text-align: center;
  padding: 15px 0;
  margin-top: 30px;
  margin-left: 80px;

  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;

  width: 200px;
  height: 50px;
  background-color: #fb565a;
  border-radius: 3px;
  box-sizing: border-box;
}

.action {
  display: block;
  position: absolute;
  bottom: 0;
  padding-bottom: 40px;

  width: 360px;
  min-height: 190px;
  background-color: #eeeeee;
}

.catalog-item .action {
  display: none;
}

.catalog-item:hover {
  box-shadow: 0 6px 15px rgba(0, 1, 1, 0.25);
}

.catalog-item:hover .action,
.catalog-item:focus .action  {
  display: block;
}

.buy-link:active {
  box-shadow: 0 3px #d7373b inset;
}

.buy-link:hover,
.buy-link:focus {
  background-color: #e74246;
}

.item-name:hover,
.item-name:focus {
  color: #fb565a;
}

.item-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.pagination {
  padding-top: 10px;
}

.pagination-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination-item {
  margin: 0;
  margin-right: 11px;
  margin-bottom: 5px;
  padding: 0;
}

.pagination-item a {
  display: block;
  text-align: center;
  padding: 16px 5px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #000000;

  width: 50px;
  background-color: #eeeeee;
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #dfdfdf;
}

.pagination-item a:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d5d5d5;
  box-shadow: inset 0 3px rgba(0, 0, 0, 0.1);
}

.pagination-current a {
  width: 50px;
  padding: 13px 0;

  background-color: transparent;
  border: 3px solid #dbdbdb;
  pointer-events: none;
}

.pagination-next a {
  padding: 16px 80px;

  width: auto;
  text-transform: uppercase;
}

.filter-item {
  margin: 0;
  padding: 0;

  border: none;
}

.range-filter {
  margin-top: 55px;
  margin-bottom: 30px;

  width: 260px;
}

.bar {
  margin-left: 0;

  width: 10%;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  height: 40px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  padding: 0;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  vertical-align: top;

  font-size: 16px;
  text-transform: uppercase;

  width: 50%;
}

.price-controls input {
  padding: 8px 10px;
  margin-left: 10px;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;

  width: 60px;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.filters {
  margin-right: 140px;
  padding: 0;
  width: 260px;
}

.filter {
  margin-top: 50px;
}

.filter-topic {
  margin: 0 auto;
  padding: 0;

  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.filters-name {
  border: none;
}

.filters-grid-item,
.filters-features-item {
  list-style: none;
  padding: 0;
  margin-left: -5px;

  line-height: 20px;
  font-size: 16px;
  color: #283136;
}

.filter-input {
  color: #b8b8b8;
}

.filter-input:hover,
.filter-input:focus {
  color: #4d4d4d;
}

.filter-input:disabled + label {
  color: #b8b8b8;
  opacity: 0.3;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
}

.filters-features-item, .filters-grid-item label {
  margin-bottom: 20px;

  font-size: 16px;
  line-height: 20px;
}

.filter legend {
  padding: 0;
  margin: 0;
}

.filters-features label {
  position: relative;
  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 0;

  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 0;

  background-image: url("../img/checkbox-on.svg");
  opacity: 0.4;
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 27px;
  height: 23px;
}

.filter-input-checkbox + label:disabled::before,
.filter-input-checkbox:checked + label:disabled::before {
  opacity: 0.1;
}

.filter-input-checkbox + label:hover::before,
.filter-input-checkbox:checked + label:hover::before {
  opacity: 1;
}

.filter-input-checkbox + label:focus::before,
.filter-input-checkbox:checked + label:focus::before {
  opacity: 1;
}

.filters-grid label {
  position: relative;
  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 0;

  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input-radio:checked + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 0;

  width: 25px;
  height: 25px;
  background-image: url("../img/radio-on.svg");
  opacity: 0.4;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio + label:disabled::before,
.filter-input-radio:checked + label:disabled::before {
  opacity: 0.1;
}

.filter-input-radio + label:hover::before,
.filter-input-radio:checked + label:hover::before {
  opacity: 1;
}

.filter-input-radio + label:focus::before,
.filter-input-radio:checked + label:focus::before {
  opacity: 1;
}

.filters-button {
  margin: auto;
  padding: 0;
  margin-top: 5px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  color: #000000;
  text-transform: uppercase;

  width: 260px;
  height: 50px;
  background-color: #eeeeee;
  border: none;
  border-radius: 3px;
}

.filters-button:hover,
.filters-button:focus {
  background-color: #dfdfdf;
}

.filters-button:active {
  box-shadow: 0 3px #d5d5d5 inset;
  color: rgba(0, 0, 0, 0.3);
}
